body {
    width: 320px;
}

#query::after {
    content: "|";
    font-weight: bold;
    color: var(--selected-item-color);
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.selected {
    color: var(--selected-item-color);
    font-weight: bold;
}

.empty {
    color: gray;
}